@model MainProductModel
@{
    ViewData["Title"] = "Подтвержение удаления";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card mb-3" style="max-width: 100%; padding: 40px">
    <div class="row g-0">
        <div class="col-md-4 mycenter" >
        <img src="@Model.MainFilePath" class="img-fluid " alt="@Model.ProductFullName" style="padding: 20px">
        </div>
        <div class="col-md-8">
            <div class="card-body" style="padding: 40px">
            <h1 class="card-title text-primary" style="padding-block-end: 20px">@Model.ProductExtendedFullName</h1>
            <h4 class="card-text text-secondary">Rating: @(Model.Rating / 10.0) / 5</h4>
            <p class="card-text">@Model.Description</p>
                <small class="" style="text-align: left">Price from @Model.MinPrice to @Model.MinPrice BYN</small>
                
            </div>
        </div>
    </div>
</div>

<form asp-action="Delete" style="margin: 40px">
    <div class="row text-center">
        <input type="hidden" asp-for="Id" />

        <div class="col">
            <input type="submit" value="Взорвать товар" class="btn btn-danger" />
        </div>
        <div class="col">
            <a class="btn btn-info" asp-action="ProductsToList">Список товаров</a>

        </div>
    </div>
    </form>
