@using MyPet.Areas.SomeLogics;
@model IEnumerable<MyPet.Models.MainProductModel>

@{
    ViewBag.Title = "Product List";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var item in Model)
{
    #region Time
    string? value = TimeDifference.GetDifference(item.LastTimeEdited);
    #endregion
        <div class="card mb-lg-3" href="" style="max-width: 100%; padding: 20px">
            <div class="row">
            <div class="col-md-4 mycenter">
                        <img src="@item.MainFilePath" heigth="200px" class="img-fluid rounded-start" value="@item.ProductFullName" asp-append-version="true">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                       <h5 class="card-title">@item.ProductFullName</h5>
                    <p class="card-text">@item.ShortDescription</p>
                    <p><small class="text-muted">@item.ProductType</small> </p>


                    <p class="card-text">From @item.MinPrice BYN </p>
                    <p class="card-text"><small class="text-muted">Edited @TimeDifference.GetDifference(item.LastTimeEdited)</small></p>



                    <div style="padding-top: 30px">
                    <a class="btn btn-outline-primary" asp-controller="Product" asp-action="EditProduct" asp-route-Id="@item.Id">Edit</a>

                    <a class="btn btn-outline-info" asp-controller="Product" asp-action="ViewDetails" asp-route-Id="@item.Id">View details</a>

                    <a class="btn btn-outline-danger" asp-controller="Product" asp-action="Delete" asp-route-Id="@item.Id">Explode product</a>
                        </div>
                </div>


                </div>
            </div>
        </div>
        
}
@*@section scripts
{
    <script>
        let scrollBox = document.querySelector('.scroll-box');
        let leftArrow = document.querySelector('.arrow.left');
        let rightArrow = document.querySelector('.arrow.right');

        let scrollAmount = 300;

        leftArrow.addEventListener('click', () => {
            scrollBox.scrollBy(-scrollAmount, 0);
            
        });

        rightArrow.addEventListener('click', () => {
            scrollBox.scrollBy(scrollAmount, 0);
           
        });
    </script>
}*@


