@page
@model LoginModel

@{
    ViewData["Title"] = "Авторизация";
    ViewBag.Secondary = "Чтобы получить полный доступ к ресурсу, нужно пройти авторизацию";
}

<div class="row">
    <div class="col-md-6">
        <section>
            <form id="account" method="post">
                <h2>Используйте аккаунт чтобы войти</h2>
                <span>
                    Только при наличии аккаунта, вы можете использовать все функции приложения.
                    Это особенность архитектуры приложения
                </span>
                <hr/>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="пароль"/>
                    <label asp-for="Input.Password" class="form-label">Пароль</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe"/>
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary mb-4">Войти</button>
                </div>
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Забыли пароль?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Создать новый аккаунт</a>
                </p>

                <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Отправить заново подтвержение Email</a>
                </p>
            </form>
        </section>
    </div>
    <div class="col-md-6">
        <section>

            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <img src="/img/Illustrations/welcomeImage2.jpg" class="w-auto rounded-4" style="object-fit: cover; max-height: 60dvh;" alt="welcome"/>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}