@using MyPet.Areas.SomeLogics;
@model IEnumerable<ProductModel>
@{
    if(Model.Count() == 0)
    {
        <h2>No results</h2>
    }
    else
    {
        <h2>Here your search results</h2>
        foreach (var item in Model)
        {
            #region Time
            string? value = TimeDifference.GetDifference(item.LastTimeEdited);
            #endregion

            <div class="card mb-lg-3" style="max-width: 100%;">
                <div class="row">
                    <div class="col-md-4 mycenter">
                        <img src="@("~/img/Products/"+item.FileName)" heigth="200px" class="img-fluid rounded-start" alt="..." asp-append-version="true">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@item.ProductName <muted>@item.Brand</muted> <muted>@item.Category</muted> </h5>
                            <p class="card-text">@item.ShortDescription</p>
                            <span class="card-text badge rounded-pill bg-info">@item.Info</span>

                            <p class="card-text"><small class="text-muted">$@item.Price</small></p>
                            <p class="card-text"><small class="text-muted">Edited @value</small></p>
                            <a class="text-muted" asp-controller="Product" asp-action="EditProduct" asp-route-id ="@item.Id">Edit</a>


                        </div>
                    </div>
                </div>
            </div>
    
        }
    }
}


