<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-4 mycenter">
            <img src="@Model.MainFilePath" class="img-fluid " alt="@Model.ProductFullName" style="padding: 20px">
        </div>
        <div class="col-md-8">
            <div class="card-body" style="padding: 40px;">
                <h1 class="card-title display-6 fw-semibold">@Model.ProductExtendedFullName</h1>
                <span class="badge card-text bg-overlay2 fw-normal p-2">Rating: @(Model.Rating / 10.0) / 5</span>
                <br><br>
                <p class="card-text">@Model.Description</p>
                <span class="fw-medium" style="text-align: left;">Цена от @Math.Round(Model.MinPrice, 0) до @Math.Round(Model.MaxPrice,0) BYN</span>
            </div>
        </div>
    </div>
</div>


@*Image scrollbox*@
<div class="scroll-box" style="margin-top: 40px; margin-bottom: 40px;">
    <div class="scroll-content">
        @foreach (var item in Model.ExtraImage)
        {
            <img src="@item.FileSource">
        }
    </div>
</div>


<div class="bd-example" bis_skin_checked="1">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"><small class="text-muted fw-lighter">Название параметра</small></th>
                <th scope="col"><small class="text-muted fw-lighter">Значение</small></th>

            </tr>
        </thead>

        <tbody>
            <tr>
                <th scope="row"><span class="fw-medium">Категория</span></th>
                <th> @Model.ProductType</th>
            </tr>
            <tr>
                <th scope="row"><span class="fw-medium">Краткое описание</span></th>
                <th> @Model.ShortDescription</th>
            </tr>

            <tr>
                <th scope="row"><span class="fw-medium">Рейтинг</span></th>
                <th> @Model.Rating</th>
            </tr>
            <tr>
                <th scope="row"><span class="fw-medium">Максимальная цена</span></th>
                <th> @Model.MaxPrice BYN</th>
            </tr>
            <tr>
                <th scope="row"><span class="fw-medium">Минимальная цена</span></th>
                <th> @Model.MinPrice BYN</th>
            </tr>
            <tr>
                <th scope="row"><span class="fw-medium">Добавлен</span></th>
                <th> @Model.CreationDateTime.ToString("yyyy.mm.dd")</th>
            </tr>
        </tbody>

    </table>
</div>
<div class="row text-center" style="margin: 50px">
    <div class="col">
        <a class="btn btn-primary" asp-controller="UserProduct" asp-action="ShowFilteredProduct" asp-route-id="@Model.Id">Список товаров</a>
    </div>
    <div class="col">
        <button id="liveToastBtn" form="AddToCart" type="submit" class="btn btn-success">
            <div class="mycenter">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                    <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>&thinsp;Добавить
            </div>
        </button>
    </div>
    <form asp-controller="Cart" id="AddToCart" asp-action="AddProductToCart">
        <input type="hidden" value="@Model.Id" name="ProductId">
    </form>
</div>
