<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-4 mycenter">
            <img src="@Model.MainFilePath" class="img-fluid " alt="@Model.ProductFullName" style="padding: 20px">
        </div>
        <div class="col-md-8">
            <div class="card-body" style="padding: 40px;">
                <h1 class="card-title display-6 fw-semibold">@Model.ProductExtendedFullName</h1>
                <span class="badge card-text bg-overlay2 fw-normal p-2">Рейтинг: @(Model.Rating / 10.0) / 5</span>
                <br><br>
                <p class="card-text">@Model.Description</p>
                <span class="fw-medium" style="text-align: left;">Цена от @Math.Round(Model.MinPrice, 0) до @Math.Round(Model.MaxPrice,0) BYN</span>
            </div>
        </div>
    </div>
</div>


@*Image scrollbox*@
<div class="scroll-box" style="margin-top: 40px; margin-bottom: 40px;">
    <div class="scroll-content">
        @foreach (var item in Model.ExtraImage)
        {
            <img src="@item.FileSource">
        }
    </div>
</div>


<div class="bd-example" bis_skin_checked="1">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"><small class="text-muted fw-lighter">Название параметра</small></th>
                <th scope="col"><small class="text-muted fw-lighter">Значение</small></th>

            </tr>
        </thead>

        <tbody>
            <tr>
                <th scope="row"><span class="fw-medium">Категория</span></th>
                <th class="fw-light"> @Model.ProductType</th>
            </tr>
            <tr>
                <th scope="row"><span class="fw-medium">Краткое описание</span></th>
                <th class="fw-light"> @Model.ShortDescription</th>
            </tr>

            <tr>
                <th scope="row"><span class="fw-medium">Рейтинг</span></th>
                <th class="fw-light"> @Model.Rating</th>
            </tr>
            <tr>
                <th scope="row"><span class="fw-medium">Максимальная цена</span></th>
                <th class="fw-light"> @Model.MaxPrice BYN</th>
            </tr>
            <tr>
                <th scope="row"><span class="fw-medium">Минимальная цена</span></th>
                <th class="fw-light"> @Model.MinPrice BYN</th>
            </tr>
            <tr>
                <th scope="row"><span class="fw-medium">Добавлен</span></th>
                <th class="fw-light"> @Model.CreationDateTime.ToString("yyyy.mm.dd")</th>
            </tr>
        </tbody>

    </table>
</div>

