@using MyPet.Areas.Services.Abstractions;
@model MyPet.ViewModels.ProductDetailedViewModel
@inject ITimeDifference timeDifference;
@{
    ViewBag.Secondary = Model.ProductType;
}
<partial name="_ProductDetailsForUserPartial" />


<div class="row text-center" style="margin: 50px">
    <div class="col">
        <a class="btn btn-primary" asp-controller="UserProduct" asp-action="ShowFilteredProduct" asp-route-id="@Model.Id">Список товаров</a>
    </div>
    <div class="col">
        <button id="liveToastBtn" form="AddToCart_@Model.Id" type="submit" class="btn btn-success">
            <div class="mycenter">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                    <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>&thinsp;Добавить
            </div>
        </button>
    </div>
    <form asp-controller="Cart" id="AddToCart_@Model.Id" asp-action="AddProductToCart">
        <input type="hidden" value="@Model.Id" name="id">
    </form>
</div>


@if (Model?.Reviews?.Count > 0)
{
    <div class="d-flex mb-3 mycenter">
        <h1 class="fw-normal me-2">Отзывы: </h1>
        <span><mark class="text-light bg-overlay5 rounded-3 p-1">Найдено @Model.Reviews.Count</mark></span>
    </div>

    <section class="bg-overlay rounded-3 shadow-sm p-3 p-sm-3 p-lg-3 p-xl-5">

        @foreach (var review in Model.Reviews)
        {
            <div class="row mycenter mb-3 shadow rounded-3 p-2 p-xl-4 p-sm-2 p-lg-4 bg-light">
                <div class="col-1">
                    <img src="@review?.AppUser?.PathToProfileImage" class="profile-img-min me-2">
                </div>
                <div class="col-2">
                    <span class="fw-bold">@review?.AppUser?.FirstName</span>
                </div>
                <div class="col-6">
                    <span class="">@review.ReviewText</span>

                </div>
                <div class="col-3 text-center">
                    <span class="me-2"><mark class="text-light p-1 bg-overlay5 rounded-3">@(Math.Round(review.ReviewMark / 10.0, 1))/5</mark> </span>
                    <small class="text-muted">@(timeDifference.GetDifference(review.PublishedAt))</small>
                </div>
            </div>
        }
    </section>

}
else
{
    <h1 class="">Пока что нет отзывов</h1>

}
<form id="reviewForm" class="mt-4">
    <input type="hidden" id="productId" value="@Model.Id" />

    <div class="row">
        <div class="col-8">
            <input type="text" id="textReviewInput" class="form-control" placeholder="Оствьте отзыв" />
        </div>
        <div class="col-2">
            <input type="number" class="form-control" value="25" max="50" min="0" id="ratingReviewInput">
        </div>
        <div class="col-2">
            <button type="submit" class="w-100  btn btn-success">Отправить</button>
        </div>
    </div>
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function submitChanges() {
        $('#reviewForm').submit(function (event) {
            // Отменяем действие по умолчанию при отправке формы
            event.preventDefault();


            var productId = document.getElementById("productId").value;
            var reviewText = document.getElementById("textReviewInput").value;
            var rating = document.getElementById("ratingReviewInput").value;

            var reviewModel = {
                ProductId: productId,
                Rating: rating,
                Text: reviewText
            }

            // Отправляем объект на сервер
            $.ajax({
                type: 'POST',
                url: '/UserProduct/SendReview',
                data: JSON.stringify(reviewModel),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    NotifySuccess("Ваш отзыв сохранен")

                },
                error: function (xhr, textStatus, errorThrown) {
                    NotifyError('Ошибка');
                    console.log('Ошибка: ' + xhr.responseText);
                }
            });
        });
    });
    function NotifySuccess(message) {

        const notification = notyf.success(message)
        notification.on('click', ({ target, event }) => {
            // target: the notification being clicked
            // event: the mouseevent
            notyf.dismiss(notification);
        });
    }

    function NotifyError(message) {

        const notification = notyf.error(message)
        notification.on('click', ({ target, event }) => {
            // target: the notification being clicked
            // event: the mouseevent
            notyf.dismiss(notification);
        });
    }
</script>