@using MyPet.ViewModels.News;
@model IEnumerable<Article>


<div class="row row-cols-1">

    @foreach (var item in Model)
    {
        if (item.Description is null || item.Description == string.Empty) continue;
        <div class="card mb-4 w-100 border-0 p-4" style="display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start;">
            <div class="row g-4">
                <div class="col-4 align-content-center" style="flex-direction: column; justify-items: center;">
                    <img src="@item.UrlToImage" class="card-img img-fluid my-border-radius h-100; w-auto;" style="z-index: -12; align-items: center">
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text"><small class="text-muted">Источник: @item.Source.Name</small></p>
                        @if (@item.Author is not null)
                        {
                            <p class="card-text"><small class="text-muted">Автор: @item.Author</small></p>

                        }
                        <a asp-action="NewsDetails" asp-route-title="@item.Title" style="align-self: flex-end" class="mt-2 btn btn-primary">
                            <span style="font-size: calc(0.6vw + 7px);">Читать подробнее</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>



    }

</div>